*
#############################
# BACKBONE TEST 1 whitelist #
#############################

!.gitignore
!README.md
!index.html
!config.build.js
!config.js
!gulpfile.js
!package.json
!package-lock.json


!app/
!app/*
!app/js/**
!app/public/**

!build

!screenshots/
!screenshots/*

# Ignore
